site_name: dayplot
site_url: https://example.com
repo_url: https://github.com/y-sunflower/dayplot

theme:
  name: material
  custom_dir: overrides
  features:
    - content.code.copy
    - navigation.path
    - content.footnote.tooltips
    - navigation.expand
  icon:
    repo: fontawesome/brands/github

extra:
  analytics:
    provider: google
    property: G-MLP58TWW3R

plugins:
  - mkdocs_matplotlib
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3

nav:
  - Home: index.md
  - Contributing: contributing.md
  - Guides:
      - tuto/built-in-styles.md
      - tuto/basic-styling.md
      - tuto/negative-values.md
      - tuto/boxstyle.md
      - tuto/legend.md
      - tuto/combine-charts.md
      - tuto/fetch-github-contribs.md
      - tuto/advanced.md
  - Reference:
      - reference/calendar.md
      - reference/fetch_github_contrib.md
      - reference/load_dataset.md

extra_css:
  - stylesheets/style.css

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
