[project]
name = "githubchart"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.0",
    "pandas>=2.2.3",
]

[dependency-groups]
dev = [
    "pre-commit>=4.0.1",
]
