h2,
h3,
h4 {
  margin-top: 3em !important;
}

.md-header {
  background-color: cadetblue;
}

@media (max-width: 768px) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: cadetblue;
  }
}
